<div class="row mt-5">
    <div class="col-12">
        <h1>Recent Reviews</h1>
        <ul>
            <li>
                name
                date
                movie name
                rating
                review
            </li>
        </ul>
    </div>
</div>